*{
    box-sizing: border-box;
    margin:  0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
}

header{
    background-color: black;
    color: white;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container {
    width: 1060px;
    /*border: 3px solid yellowgreen;*/
    display: flex;
    justify-content: space-between;
}

.header__navigation {
    list-style: none;
}

.header__list-item {
    display: inline-block;
    margin-left: 40px;
    position: relative;
}

header .menu{
    display:flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.header__container{
    display: flex;
    list-style: none;
}

.header__container > ul {
    display: flex;
    list-style: none;
}
.menu ul{
    list-style: none;
}

.header__list-item:hover li {
    display: flex;
    flex-direction: column;
}
.header__link {
    text-decoration: none;
    padding: 30px;
    color: white;
}
.header__navigation{
    flex-direction: row;
    justify-content: space-between;
}
.header__navigation--dropdown{
    display: none;
    position: absolute;
}
.header__navigation--dropdown li{
    background: black;
}
.header__navigation--dropdown a{
   padding: 10px;
}
.header__list-item:hover ul{
    display: block;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: medium;
    margin-right: 20px;
}
.logo1{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    margin-right: 20px;
}
.logo2{
    display: flex;
    align-items: center;
    font-size: medium;
    margin-right: 20px;
    color: grey;
}

.green{
    color: #26BAA0;
    font-weight: 700;
}

.gray{
    color: gray;
    font-weight: 700;
}

section {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.section1{
    background: linear-gradient(white, lightgrey);
    display: flex;
}

.section1a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    width: 400px;
    margin: 10px;
}
.arrows {
    padding-top: 100px;
}

.arrows a{
    color: #26BAA0;
    font-size: 80px;
    text-decoration: none;
}

#clair {
    background-image: url("../images/box1_img.jpg");
    width: 330px;
    height: 227px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
#margarita{
    background-image: url("../images/box2_img.jpg");
    width: 330px;
    height: 227px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.section2 {
    padding-top: 20px;
}
.section2a {
    box-sizing: border-box;
    width: 340px;
    height: 254px;
    border: 1px solid lightgrey;
}

.opacityWhite{
    height: 62px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
    /*margin-left: 20px;*/
    display: flex;
    flex-direction: column;
}

.section2 p,h3{
    font-size: 13px;
    margin-left: 24px;
    margin-right: 30px;
    padding-top: 30px;
}

h3:after{
    content: "";
    display: block;
    height: 5px;
    width: 138px;
    background-color: #26BAA0;
}

div .opacityWhite:after{
    content: "";
    display: block;
    height: 5px;
    width: 138px;
    background-color: #26BAA0;
}

.section3 .container{
    display: flex;
    flex-direction: column;
}

.section3{
    display: flex;
    background-color: #F1F1F1;
    align-items: center;
    padding: 20px;
}

.section3a{
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
}

.section3a h2{
    padding: 20px;
}
.title h2:after{
    content: "";
    display: block;
    height: 5px;
    width: 338px;
    background-color: #26BAA0;
}

.title{
    width: 100%;
    margin-top: 20px;
}

.section4 .container{
    display: flex;
    flex-direction: column;
}

.section4a{
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;

}

.section4a form{
    padding-top: 50px;
    height: 30px;
    width: 100px;
    color: #26BAA0;
}
input{
    height: 45px;
    width: 430px;
    border: 1px solid #26BAA0;
    margin: 10px;
    font-size: 25px;
    opacity: 0.5;
}
textarea{
    width: 430px;
    border: 1px solid #26BAA0;
    margin: 10px;
    height: 100px;
    resize: none;
    font-size: 25px;
    opacity: 0.5;
}
.section4b{
    display: flex;
    flex-direction: column;
}
.section4b img{
    width: 250px;
    height: 200px;
}
.check{
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    /*justify-content: center;*/
    justify-content: space-between;
}
footer p{
    display: flex;
    justify-content: left;
    align-items: center;
    color:grey;

}
button{
    background-color: #26BAA0;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-weight: 900;
}
.section3a button{
    background-color: #26BAA0;
    color: white;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    font-weight: 700;
}



.section3a a{
    text-decoration: none;
    color: white;
}

div.title{
    /*width: 100%;*/
}

.plans {
    border: 2px solid lightgrey;
    width: 326px;
    height: 496px;
    position: relative;
    text-align: center;
    padding: 30px 0;
    font-family: sans-serif;
    box-sizing: border-box;
    margin-top: 50px;
    margin: 10px;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
}
.plans h2{
    color: #26BAA0;
}
.grren h2{
    color: white;
}
.plans:before {
    content: "";
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    border: 2px solid lightgrey;
    background: lightgrey;
    left: calc(50% - 25px);
    top: -25px;
    box-shadow: inset 0 0 0 12px #fff;
}
.price:before{
    content: "";
    display: block;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    border: 2px solid lightgrey;
    opacity: 0.5;
    top: 85px;
    left: 98px;
    /*box-shadow: inset 0 0 0 12px #fff;*/
}
.price{
    color: lightgrey;
    height: 150px;
    display: block;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 900;
}
.plans_background{
    background: white;
    height: 140px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
}
.plans_background p{
    color: black;
    opacity: 0.5;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
}

.plans_options{
    color:black;
    background: #435969;
    /*background: rgba(202 202 202 0.5);*/
    /*background:grey;*/
    /*border: 1px solid darkslategrey;*/
    /*background: rgba(250 250 250 0.5);*/
    width: 100%;
    opacity: 0.3;
    /*filter: alpha(opacity=50);*/
}

.plans_options2{
    color:black;
    background: grey;
    opacity: 0.3;
    /*background: rgba(200 200 200 0.5);*/

    /*opacity: 20%;*/
    /*border: 1px solid lightgrey;*/
}
.small{
    font-size: 18px;
}
.button--plans{
    display: flex;
    flex: 1;
    align-items: flex-end;
    margin-bottom: 10px;
    justify-content: center;
}

.grren {
    color: white;
    margin: 10px;
    background-color: #26BAA0;
    display: flex;
    flex-flow: column nowrap;
}
.grren:before {
    content: "";
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    border: 2px solid #26BAA0;
    background: white;
    left: calc(50% - 25px);
    top: -25px;
    box-shadow: inset 0 0 0 12px #26BAA0;
    /*box-shadow: */
}
/*.grren p{color: #26BAA0;*/
    /*margin: 10px;*/
    /*background-color: white;*/
    /*display: flex;*/
    /*flex-flow: column nowrap;*/
/*}*/
.grren button{
    background-color: white;
    color: #26BAA0;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    font-weight: 700;
}
